body {
  background-color: whitesmoke;
}
#header {
  display: block;
  text-align: center;
  margin-top: 180px;

} 

#subheader {
  display: block;
  text-align: center;
  margin-top: 20px;
}

#map {
  z-index: 1;
  width: 800px; 
  height: 500px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

@media (max-width: 773px) {
  #header {
    margin-top: 210px;
  }
}

@media (max-width: 814px) {
  #map { 
    width: 400px; 
    height: 250px;
  }
}

@media (min-width: 100px) and (max-width: 390px) {
  #map { 
    width: 300px;
    height: 150px;
  }
}


#myButton {
  background-color: whitesmoke; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  display: block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
}

#myButton:hover {
  background-color: black; /* Darker green */
  color: white;
}

.locationWho {
  text-align: left;
  margin-left: 0px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.locationWhere {
  text-align: left;
  margin-left: 0px;
  margin-bottom: 10px;
  margin-top: 10px;
}
