nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #000;
        color: #ccc;
        padding: 10px;
}

.company {
        font-size: 40px;
        margin: 0;
}

.slogan {
        text-align: center;
        margin: 0;
}

nav ul {
        list-style-type: none;
        margin: 0;
        text-align: center;
}

nav li {
        float: right;
}

nav a {
        display: block;
        color: #777;
        text-align: center;
        padding: 10px 20px;
        text-decoration: none;
}

nav a:hover {
        background-color: #333;
        color: #fff;
}

body {
        margin-top: 110px; /* doesn't account for web page compression */
        padding: 10px;
        font-family: Optima, sans-serif;
}

/* we also need a footer */
